body{
	background-color: #08121a;
}
.shapka{
	width: 100%;
	height: auto;
	content: url(4.png);
}
.btnContainer
{
	text-align: center;
	display: block;
	margin: 0 auto;
}
.btn 
{
	width: 18%;
	border: none;
	outline: none;
	padding: 16px 14px;
	background-color: #08121a;
	cursor: pointer;
}
.text
{
	color: #fff;
	font-family: "Lucida Console";
	font-size: 150%;
}
.filterDivContainer{
	margin-top: 10px;
}
.filterDiv {
	float: left;
	background-color: #2196F3;
	color: #ffffff;
	width: 280px;
	height: 155px;
	line-height: 150px;
	text-align: center;
	margin: 6px;
	display: none; /* Hidden by default */
	border-radius: 10px;
}
.a{
	background-image: url(alisa.jpg);
	background-size: cover;
}
.b{
	background-image: url(stim.jpg);
	background-size: cover;

}
.c{
	background-image: url(acad.jpg);
	background-size: cover;

}
.d{
	background-image: url(pacient.jpg);
	background-size: cover;
}
.e{
	background-image: url(ohotnik.jpg);
	background-size: cover;

}
.f{
	background-image: url(filo.jpg);
	background-size: cover;
	
}
.show {
	display: block;
}

/* Style the buttons */
.btnn {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px; 
	margin-right:5px;
	border: none;
	outline: none;
	padding: 6px 8px;
	background-color: #aad2d3d5;
	cursor: pointer;
	border-radius: 100px;
}

/* Add a light grey background on mouse-over */
.btn:hover{
	border-bottom: 0.5px solid #ccc;
}
.btn.active{
	background-color: #232b38;
}
.btnn:hover {
	background-color: #ddd;
}

/* Add a dark background to the active button */
.btnn.active {
	background-color: #666;
	color: white;
}
.textt
{
	color: #08121a;
	font-family: "Lucida Console";
	font-size: 100%;
	font-weight:bold;
}
.textquest
{
	color: #ffffff;
	font-family: "Lucida Console";
	font-weight:bold;
	font-size: 110%;
	text-shadow: 3px 3px 3px #000;
}
.filterDiv:hover{
	box-shadow: 0 0 10px rgba(256,256,256,0.5);
	cursor: pointer;
}
.btnnContainer{
	margin-top: 10px;
	text-align: center;
}
.contactsContainer{
	display: flex;
	justify-content:center; 
	text-align: center;
}
/*.IMG{
	height: 400px;
	float:left;
	margin-top: 50px;
}*/
.TEXT{
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 150%;
	margin-top: 90px;
	padding-left: 50px;

}
.img{
	
	width: 300px;
	height: 300px;
	box-shadow: 0 0 10px rgba(256,256,256,0.5);
	border-radius: 10px;
	margin-top: 20px;
}
.OBZOR{
	margin-top: 20px;
	display: flex;
	justify-content:center; 
	text-align: center;
}
.alisaotztxt{
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 150%;
	margin-top: 40px;
	margin-top: 150px;
	padding-left: 20px;
}

.alisaotzv{
	width: 400px;
	height: 300px;
	border-radius: 10px;
	margin-top: 20px;
}

